<template>
  <div class="home">
    <form-component :form-data="userFormData" @save="setUserData"/>
  </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";
  import FormComponent from "@/components/form-component.vue";
  import {IFormData} from "@/interfaces/IFormData";
  import {Mutation, State} from "vuex-class";
  import {isNotEmpty} from "@/utils";


  @Component({
    components: {
      FormComponent
    }
  })
  export default class Home extends Vue {
    @State("userData") userData: any;
    @Mutation("setUserData") setUserData: (data: any) => void;
    userFormData: IFormData = {
      data: null,
      fields: [
        {
          field: "name",
          type: "string",
          label: "Name",
          validator: (value: string) => !isNotEmpty(value) ? "This field is required" : ""
        },
        {
          field: "surname",
          type: "string",
          label: "Surname",
          validator: (value: string) => !isNotEmpty(value) ? "This field is required" : ""
        },
        {
          field: "city",
          type: "string",
          label: "City",
          validator: (value: string) => !isNotEmpty(value) ? "This field is required" : ""
        },
        {
          field: "description",
          type: "textarea",
          label: "Description",
          validator: (value: string) => !isNotEmpty(value) ? "This field is required" : ""
        },
        {
          field: "gender",
          type: "select",
          label: "Gender",
          meta: {
            values: [
              {
                label: "Male",
                value: "Male",
              },
              {
                label: "Female",
                value: "Female",
              }
            ]
          },
          validator: (value: string) => !isNotEmpty(value) ? "This field is required" : ""
        },
        {
          field: "subscription",
          type: "date",
          label: "Subscription",
          validator: (value: string) => !isNotEmpty(value) ? "This field is required" : ""
        },
        {
          field: "checkbox",
          type: "checkbox",
          label: "Checkbox",
          validator: (value: boolean) => !value ? "This field is required" : ""
        },
        {
          field: "radio",
          type: "radio",
          validator: (value: string) => !isNotEmpty(value) ? "This field is required" : "",
          meta: {
            values: [
              {
                label: "Radio 1",
                value: "Radio 1",
              },
              {
                label: "Radio 2",
                value: "Radio 2",
              },
              {
                label: "Radio 3",
                value: "Radio 3",
              },
            ]
          },
        },
      ]
    }

    created() {
      Vue.set(this.userFormData, "data", this.userData);
    }
  }
</script>

<style>
  .home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
