<template>
  <div :class="['field', {
    'field_radio': data.type === 'radio',
  }]">
    <div class="field__body">
      <div class="field__inner field__text" v-if="data.type === 'string'">
        <label :for="data.field" class="field__label">{{data.label}}</label>
        <input :id="data.field" :value="data.value" @change="changeField($event.target.value)" class="field__input"
               type="text">
      </div>
      <div class="field__inner field__textarea" v-else-if="data.type === 'textarea'">
        <label :for="data.field" class="field__label">{{data.label}}</label>
        <textarea rows="5" :id="data.field" :value="data.value" @change="changeField($event.target.value)"
                  class="field__textarea"/>
      </div>
      <div class="field__inner field__select" v-else-if="data.type === 'select' && data.meta && data.meta.values">
        <label :for="data.field" class="field__label">{{data.label}}</label>
        <select :id="data.field" @change="changeField($event.target.value)" class="field__input">
          <option :key="index" :selected="option.label === data.value" v-for="(option, index) in data.meta.values">
            {{option.value}}
          </option>
        </select>
      </div>
      <div class="field__inner" v-else-if="data.type === 'date'">
        <label :for="data.field" class="field__label">{{data.label}}</label>
        <input :id="data.field" :value="data.value" @change="changeField($event.target.value)" class="field__input"
               type="date"/>
      </div>
      <div class="field__inner field__checkbox" v-else-if="data.type === 'checkbox'">
        <label :class="['field__label', 'field__label_checkbox']" :for="data.field">{{data.label}}</label>
        <input :checked="data.value" :id="data.field" @change="changeField($event.target.checked)"
               class="field__checkbox"
               type="checkbox"/>
      </div>
      <div class="field__radio" v-else-if="data.type === 'radio' && data.meta && data.meta.values">
        <label :key="index" class="field__label field__radio-label" v-for="(radio, index) in data.meta.values">
          <span class="field__radio-label-text">{{radio.label}}</span>
          <input :checked="data.value === radio.value" :name="data.field" :value="data.value"
                 @change="changeField(radio.value)" class="field__radio-input" type="radio">
        </label>
      </div>
    </div>
    <div class="field__error">
      <div>{{data.validator(data.value)}}</div>
    </div>
  </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";
  import {IUserField} from "@/interfaces/IUserField";

  @Component
  export default class Field extends Vue {
    @Prop() data: IUserField;

    changeField(value: string | boolean) {
      this.$emit("change", {
        value,
        field: this.data
      })
    }
  }
</script>

<style scoped>
  .field {
    margin-bottom: 15px;
    display: flex;
    flex-flow: column nowrap;
  }

  .field__label {
    margin-right: 10px;
    color: gray;
    font-size: 14px;
    display: block;
  }

  .field__input {
    width: 100%;
    height: 32px;
  }

  .field__label_checkbox {
    order: 2;
    margin-left: 5px;
  }

  .field__checkbox {
    margin: 0;
    display: flex;
  }

  .field__label_radio {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .field_radio {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  .field__radio-input {
    margin: 0;
  }

  .field__radio-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .field__radio-label:not(:last-child) {
    margin-right: 10px;
  }

  .field__radio {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
  }

  .field__error {
    font-size: 13px;
    color: red;
  }

  .field__radio-label-text {
    order: 2;
    margin-left: 5px;
    color: gray;
    font-size: 14px;
  }

  .field__textarea {
    resize: none;
    width: 100%;
  }
</style>
