<template>
  <form class="form-component" v-if="form && form.length" v-on:submit.prevent="submitForm">
    <field :data="field" :key="index" @change="setNewData($event)" v-for="(field, index) in form"/>
    <button @click.prevent="submitForm" class="button" type="submit">Save</button>
  </form>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";
  import {IFormData} from "@/interfaces/IFormData";
  import Field from "@/components/field.vue";
  import {IUserField} from "@/interfaces/IUserField";

  @Component({
    components: {
      Field
    }
  })
  export default class FormComponent extends Vue {
    @Prop() formData: IFormData;

    form: IUserField[] = null;

    created() {
      if (this.formData) {
        this.form = this.formData.fields.map((field) => {
          // @ts-ignore
          const foundValue: string = this.formData.data[field.field];
          let value: string | boolean = foundValue;
          if (!foundValue) {
            if (field.type === "checkbox") {
              value = false;
            } else if (field.type === "radio") {
              value = field.meta.values[0].value;
            } else {
              value = null;
            }
          }
          return {
            ...field,
            value,
          }
        })
      }
    }

    setNewData(event: { value: string, field: IUserField }) {
      const foundField = this.form.find((field) => field.field === event.field.field);
      Vue.set(foundField, "value", event.value);
    }

    validateForm(): boolean {
      return !this.form.filter((field) => {
        return field.validator(field.value).length;
      }).length
    }

    submitForm() {
      const dataForState = this.form.map((field) => {
        return {
          [field.field]: field.value,
        }
      })
      if (this.validateForm()) {
        alert("Success!")
        this.$emit("save", dataForState);
      } else {
        alert("Please, fill the form correctly!")
      }
    }
  }
</script>

<style scoped>
  .form-component {
    width: calc(100% - 30px);
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
</style>
