<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";

  @Component
  export default class App extends Vue {

  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

  body {
    margin: 0;
    width: 100%;
    overflow-x: auto;
    padding: 0;
  }

  * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
</style>
